.citacao{
    margin: auto;
    margin-top: 30px;
    width: 40vw;
    
}

.livros{
    margin: auto;
    width: fit-content;
    padding: 50px;
}

.slideshow{
    margin:auto;
    margin-top: 30px;
    width: 90vw;
}